body {
  /* background-image: linear-gradient(#300b05, black); */
  color: white;
  background-color: #000000;
}

.container-fluid {
}

/* -------------------------
  SIDEBAR 
  ---------------------------*/

#sidebar {
  background-color: #000000;
}

#logo img {
  width: 9rem;
  object-fit: cover;
}

.sidebar-align-left {
  margin-left: 0.75rem;
}

.sidebar-text {
  font-weight: bold;
  font-size: 13px;
  color: #cccccc;
}
#home-link {
  text-decoration: none;
  color: white;
}
/* -------------------------
  PROFILE SECTION 
  ---------------------------*/
#profile-div,
.arrow-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile-div .bi {
  font-size: 0.85rem;
  color: white;
}

#profile button,
#profile .badge {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#profile button {
  border-radius: 30px;
  padding: 0.15rem 0.5rem;
}

#profile .badge {
  padding: 0;
  align-self: center;
  font-size: 2rem;
}

#profile .bi {
  font-size: 1.5rem;
}

/* -------------------------
  UTILITY CLASSES
  ---------------------------*/

.bi {
  font-size: 1.5rem;
  cursor: pointer;
}

.bi:hover {
  transform: scale(1.1);
}

.round {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.transparent {
  background-color: rgba(0, 0, 0, 1);
  border: transparent;
}

.grow {
  transition: transform 350ms ease-out;
}

.grow:hover {
  transform: scale(1.05);
}

.padding-top {
  padding-top: 1.5rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}
.Currentsong img {
  object-fit: cover;
  width: 100%;
  height: 300px;
  display: block;
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
  -webkit-mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.65) 100%
  );
}
.currentsongplaylist {
  background-image: linear-gradient(to bottom, #404040, black);
}
.followArtist {
  display: flex;
  margin-left: 20px;
  gap: 15px;
}
.followArtist span {
  font-size: 3rem;
}

.followArtist .bi {
  color: green;
  font-size: 4rem;
}
#follow-btn {
  background: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  height: 30px;
  width: 80px;
  color: white;
  font-weight: bold;
  align-self: center;
}
#follow-btn:hover {
  color: white;
  border: 1px solid white;
}
#seeall {
  text-decoration: none;
  color: white;
}
.Currentsong {
  position: relative;
  display: flex;
}
.monthlylistners {
  position: absolute;
  align-self: center;
  margin-left: 30px;
  margin-top: 100px;
  font-size: 14px;
}
.monthlylistners h1 {
  font-size: 5rem;
  font-weight: bold;
}
.monthlylistners .bi {
  color: #2778d8;
}
.currentsongplaying {
  display: flex;
  justify-content: space-between;
  margin-inline: 20px;
}
.button {
  align-self: center;
  border: 0.3px solid;
  border-radius: 3px;
  width: 80px;
  text-align: center;
}
.artistpickplaylist img {
  width: 70px;
  height: 70px;
}
.Artistpick {
  margin-right: 10%;
}
.postedImg img {
  border-radius: 70%;
  width: 20px;
  height: 20px;
}
.postedImg {
  font-size: 10px;
  color: #979797;
}
.postedby {
  color: #979797;
}
.postedby h6 {
  color: white;
  margin-top: 3px;
  margin-bottom: 0;
  font-size: 13px;
}
.artpickby {
  display: flex;
  gap: 5px;
}
tbody:hover {
  color: green;
  cursor: pointer;
  background-color: white;
}
td {
  width: 200px;
}
.table {
  color: white;
}
.playlisttable a {
  color: white;
  font-size: 12px;
  text-decoration: none;
}

#fixedContainer {
  padding: 0.5rem;
  background-color: black;
  display: flex;
  justify-content: start;
  align-items: center;
  position: sticky;
  bottom: 0;
}

/* -------------------------
FIXED ROW
---------------------------*/
#fixedContainer {
  padding: 1.5rem 1rem 1rem 1.6rem;
  background-color: black;
  /* margin: 0 15px; */
  /* display: flex;
  justify-content: start;
  align-items: center; */
  position: sticky;
  bottom: 0;
}

/* -----------
LEFT FIXED 
-------------*/
#fixed-left {
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin-right: 10%; */
}

#fixed-left img {
  width: 55px;
  object-fit: cover;
}

/* .play {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
} */

.title-left p {
  margin: 0;
}

#fixed-left .bi {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.4);
}

/* -----------
MIDDLE FIXED 
-------------*/
#fixed-middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

#middle-top,
#middle-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

#middle-top .bi {
  font-size: 0.9rem;
}

#middle-bottom .total {
  display: inline-block;
  width: 400px;
  height: 3px;
  /* border: 2px solid rgba(255, 255, 255, 0.4); */
  background-color: rgba(255, 255, 255, 0.3);
}

#middle-bottom .progress {
  display: inline-block;
  width: 20px;
  height: 3px;
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  background-color: rgba(255, 255, 255, 0.7);
}

#totalAndProgress {
  display: flex;
  justify-content: start;
  align-items: center;
}
.row {
  width: 100%;
}

/* -----------
RIGHT FIXED 
-------------*/
#fixed-right {
  display: flex;
  justify-content: end;
  align-items: center;
}

#fixed-right .bi {
  font-size: 0.9rem;
  color: rgba(255, 255, 255, 0.4);
}

#fixed-right .volume {
  display: inline-block;
  width: 80px;
  height: 3px;
  /* border: 2px solid rgba(255, 255, 255, 0.7); */
  background-color: rgba(255, 255, 255, 0.7);
}

.align-fixed-right {
  display: flex;
  align-items: center;
  justify-content: end;
}

.order-one {
  order: 1;
}

.order-two {
  order: 2;
}

/* -------------------------
UTILITY CLASSES
---------------------------*/

.bi {
  font-size: 1.5rem;
  cursor: pointer;
}

.bi:hover {
  transform: scale(1.1);
}

.round,
.round-white {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}

.round-white {
  background-color: rgba(255, 255, 255, 0.8);
}

.transparent {
  background-color: rgba(0, 0, 0, 1);
  border: transparent;
}

.grow {
  transition: transform 350ms ease-out;
  cursor: pointer;
}

.grow:hover {
  transform: scale(1.05);
}

.padding-top {
  padding-top: 1.5rem;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.justify-content-start {
  display: flex;
  justify-content: start;
  align-items: center;
}

.img-small {
  width: 1.5rem;
  /* height: 1rem; */
  object-fit: cover;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100px;
}

.line-clamp-2,
.line-clamp-1 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.line-clamp-1 {
  -webkit-line-clamp: 1;
}

.bold {
  font-weight: bold;
}

.faded {
  color: rgba(255, 255, 255, 0.4);
}

.albumLinks {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.albumLinks:hover {
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.search-anchor,
.search-anchor:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.8);
}

.translucidLine {
  background-color: rgba(255, 255, 255, 0.2);
  height: 1px;
  margin: 1rem 0.75rem 0;
}

/* OVERFLOW */
.overflow-grid {
  /* white-space: nowrap; */
  /* width: 100%; */
  overflow: hidden;
  flex-wrap: nowrap;
}

.overflow-show {
  flex-wrap: wrap;
}

/* 
PROGRESS BAR
 */
.progress-width {
  width: 350px;
}

/* DROPDOWN MENU */
.dropdown-bg {
  margin-top: 0.5rem;
  /* background-image: linear-gradient(#300b05, black); */
  /* border: 3px solid black;
  border-radius: 12px;
  overflow: hidden; */
  background-color: rgba(0, 0, 0, 0.8);
}

.color-items {
  color: white;
}

.styled-items {
  display: flex;
  justify-content: start;
  align-items: center;
  text-decoration: none;
}

.dropdown-menu a:hover {
  color: white;
  text-decoration: none;
}

.btn {
  border-radius: 30px;
  color: white;
}
#cardinfo {
  color: white;
  background: #282828;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
}
#cardinfo img {
  height: 200px;
  object-fit: cover;
  cursor: pointer;
}
#cardinfo:hover {
  box-shadow: 5px 5px 8px #282828;
  transform: scale(1.1);
}
@media (max-width: 960px) {
  #sidebar {
    display: none;
  }
}
@media (max-width: 740px) {
  .Artistpick {
    display: none;
  }
  .btn {
    margin: 10px;
    width: 100%;
  }
}
